<div class="w3-container w3-center w3-animate-bottom" id="card">
    <p><b>Log-in</b> if you already had an account!</p>
    <form>
        <div class="container">
            <div class="input-icons">
                <i class="fa fa-user icon" for="user"></i>
                <input autocomplete="off" placeholder="Username" type="text" [(ngModel)]="userdata.username" name="user">
            </div>
            <div class="input-icons">
                <i class="fa fa-key icon" for="pass"></i>
                <input placeholder="Password" type="password" [(ngModel)]="userdata.password" name="pass"><br><br>
            </div>
            <button (click)="logIn()">Log-in</button>
        </div>
    </form>
    <a style="text-align: left;">Forgot Username/Password?</a>
</div>
<app-company-details></app-company-details>