#card {
    background-color: rgb(231, 231, 231);
    margin-top: 5%;
    text-align: center;
    transition: 0.3s;
    width: 30%;
    min-width: 300px;
    max-width: 500px;
    margin-right: 70px;
    padding: 30px;
    position: fixed;
    border-radius: 10px;
    right: 0;
  }
  
  #card:hover {
    box-shadow: 0 2px 4px 0 rgba(56, 56, 56, 0.2);
  }
  
  .container {
    padding: 2px 16px;
  }
  input {
      padding: 15px;
      padding-left: 45px;
      width: 80%;
      margin: 3px;
      border-radius: 50px;
      outline: none;
      border: none;
  }
  button {
      width: 76%;
      padding: 15px;
      border-radius: 50px;
      outline: none;
      border: 1px solid #555;
      transition: .3s;  
      background-color: rgb(138, 138, 138)
    }
  button:hover {
    background-color: rgba(77, 77, 77, 0.74);
  }
  .input-icons i  {
      position: absolute;
  }
  .input-icons {
      width: 100%;
  }
  .icon {
      margin-top: 10px;
      margin-left: 15px;
      padding: 10px;
      min-width: 40px;
  }
  img {
      border-radius: 50%;
  }
  p {
      margin-top: 10px;
      margin-bottom: 50px;
      font-size: 40px;
  }