.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25%;
    background-color: rgb(80, 80, 80);
    color: white;
    text-align: center;
    padding: 10px;
    margin-left: 3%;
 }
h2 {
    text-align: center;
    padding: 5px;
    margin: 0;
}
.center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.marginLeft {
    margin-left: 10%;
    min-width: 500px;
}
img {
    width: 60px;
    height: 50px;
}
.footstyle {
    overflow: hidden;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
  }
  
.footstyle a {
    margin-left: 4%;
    width: 130px;
    float: left;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
  }
a:hover {
    background-color: rgba(110, 110, 110, 0.5);
}