.footer {
    left: 0;
    bottom: 0;
    width: auto;
    height: auto;
    background-color: rgba(120, 161, 207, 0.5);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    min-width: 600px;
    margin-left: 40px;
 }
.contact {
    text-align: center;
    padding: 5px;
    font-size: 30px;
    margin: 0;
}
.center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.marginLeft {
    margin-left: 10%;
    min-width: 500px;
}
img {
    width: 60px;
    height: 50px;
}
.footstyle {
    overflow: hidden;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
  }
  
.footstyle a {
    margin-left: 4%;
    width: 130px;
    float: left;
    color: #000000;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
  }
a:hover {
    background-color: rgba(208, 228, 250, 0.5);
}