<app-sidenav></app-sidenav>
<div *ngIf="!ifAddUser" class="card">
    <div class="tooltip">
        <button class="addAnother" (click)="showTrue(true)">+</button>
        <span class="tooltiptext">Add Another User</span>
    </div>
    <table>
        <tr id="header">
            <td>Username</td>
            <td>Password</td>
            <td>Company Name</td>
            <td>Delete</td>
        </tr>
        <tr *ngFor="let val of arrayOfAllUsers; let i = index;">
            <td>{{val.username}}</td>
            <td>{{val.password}}</td>
            <td>{{val.company}}</td>
            <td><button id="delete" (click)="deleteUser(val, i)">Delete User</button></td>
        </tr>
    </table>
</div>
<div *ngIf="ifAddUser" class="card">
    <button style="float: left;font-size: 20px;outline: none;" (click)="showTrue(false)">
        << Back</button> <form>
            <p> Add New User</p>
            <input autocomplete="off" placeholder="Fullname" type="text" name="fullname" [(ngModel)]="userData.fullname">
            <input autocomplete="off" placeholder="Company" type="text" name="company" [(ngModel)]="userData.company"><br>
            <input autocomplete="off" placeholder="Email" type="text" name="email" [(ngModel)]="userData.email">
            <input autocomplete="off" placeholder="Contact Number" type="text" name="contact" [(ngModel)]="userData.contactNumber"><br>
            <input autocomplete="off" placeholder="Username" type="text" name="username" [(ngModel)]="userData.username"><br>
            <input autocomplete="off" placeholder="Password" type="password" name="password" [(ngModel)]="userData.password"><br><br>
            <button id="submitData" (click)="submitNewUser()">Submit</button>
            </form>
</div>
<app-footer></app-footer>