<app-sidenav></app-sidenav>
<div class="imgLogo">
    <img src="https://static.wixstatic.com/media/bc9755_bc5f10f99c8449fda8666675a6b4b5b0~mv2.png/v1/fill/w_131,h_101,al_c,q_85,usm_0.66_1.00_0.01/MsQ%20logo.webp">
    <h1>Ms. Q Associates</h1>
</div>
<div class="card">
    <table>
        <tr>
            <th>No.</th>
            <th>Email</th>
            <th>View / Update</th>
            <th>Score</th>
            <th>Delete</th>
        </tr>
        <tr *ngFor="let val of peopleWhoAnswers; let i = index;">
            <td>{{ i + 1}}</td>
            <td>{{ val.owner.name }}</td>
            <td><button id="viewEdit" (click)="answerChecking(val)">{{typeButton}}</button></td>
            <td> {{val.score.score}} </td>
            <td><button id="delete" (click)="deleteItem(val)">Delete</button></td>
        </tr>
    </table>
</div>
<app-footer></app-footer>