<app-sidenav></app-sidenav>
<div id="card">
    <h1>{{applicantsName}}</h1>
    <h2>Score: {{correct.length}} |</h2>
    <h2>| Mistakes:{{wrong.length}}</h2>
    <table>
        <tr>
            <th>Questions</th>
            <th>Answers</th>
            <th>Correct</th>
            <th>Wrong</th>
        </tr>
        <tr *ngFor="let val of arrayOfQuestions; let i = index">
            <td>{{val.question.question}}</td>
            <td>{{val.answer}}</td>
            <td><input type="radio" [name]="val.answer" (click)="corrected(val.answer)"></td>
            <td><input type="radio" [name]="val.answer" (click)="wronged(val.answer)"></td>
        </tr>
    </table><br>
    <button (click)="submitScores()">Save Score</button>
</div>
<app-footer></app-footer>