<div (mouseover)="hideAndShow(true)" class="miniSideNav">
    <i class="fa fa-user" style="font-size:48px;color:red; margin-top: 175px;transition: .2s;"></i>
    <i class="fa fa-home" style="font-size:36px"></i>
    <i class="fa fa-edit" style="font-size:36px"></i>
    <i class="fa fa-power-off" style="font-size:36px"></i>
</div>
<div *ngIf="hideNav" class="sidenav" (mouseleave)="hideAndShow(false)">
    <a style="font-size: 23px;">
        <img src="https://static.wixstatic.com/media/bc9755_bc5f10f99c8449fda8666675a6b4b5b0~mv2.png/v1/fill/w_131,h_101,al_c,q_85,usm_0.66_1.00_0.01/MsQ%20logo.webp"
            style="border-radius: 50%;">
        <p style="margin-top: 0;">Ms. Q Associates</p>
    </a>
    <a class="currentLogged">{{User.name}}</a>
    <a routerLink="/home">Home</a>
    <a>Edit User</a>
    <a (click)="logOut()">Log-out</a>
</div>