<!-- <div> -->
<div class="head">
    <div class="container">
        <div>
            <img src="https://static.wixstatic.com/media/bc9755_bc5f10f99c8449fda8666675a6b4b5b0~mv2.png/v1/fill/w_131,h_101,al_c,q_85,usm_0.66_1.00_0.01/MsQ%20logo.webp">
        </div>
        <div>
            <h2>Ms. Q Associates</h2>
            <p>We serve at your pleasure!!</p>
        </div>

    </div>
</div>
<div class="topnav">
    <a routerLink="/home">Home</a>
    <a>Edit User</a>
    <a style="float: right;" (click)="logOut()">Log-out</a>
</div>
<!-- </div> -->