.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(197, 220, 255, 0.5);
    overflow-x: hidden;
    margin-left: 40px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    margin-bottom: 20px;
  }
  
  .sidenav a:hover {
    color: #a3a2a2;
  }
  .miniSideNav {
    height: 100%;
    width: 40px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(120, 161, 207, 0.5);
    overflow-x: hidden;
    padding-top: 20px;
    transition: 2s;
  }

  i {
    margin-bottom: 25px;
    color: #070707;
  }
  .currentLogged {
      margin-bottom: 50px;
  } 